
      <!-- About -->
      <section class="container pt-5 mt-2 mt-md-4 mt-lg-5">
        <div class="row pt-xl-3">
          <div class="col-md-5 text-center text-md-start pb-5">
            <h1 class="mb-4">Premios y reconocimientos</h1>
            <p class="fs-lg pb-lg-3 mb-4">Araceli ha sido reconocida repetidamente con el premio a Mejor Árbitro en competencias internacionales. Su más reciente galardón fue otorgado en la Gala 2023 de la Unión Panamericana de Taekwondo (PATU).</p>
            
            <div class="mt-3 mt-sm-0 pt-4 pt-sm-5 mt-xl-4">
              <h2 class="h6 mb-4">Algunos reconocimientos recibidos son:</h2>


              <ul class="list-unstyled pb-2">
                <li class="d-flex align-items-center pb-1 mb-2">
                  <i class="bx bx-check-circle text-primary fs-xl me-2"></i>
                  Mejor juez femenil en el campeonato XXXXX
                </li>
                <li class="d-flex align-items-center pb-1 mb-2">
                  <i class="bx bx-check-circle text-primary fs-xl me-2"></i>
                  Mejor juez femenil en el campeonato XXXXX
                </li>
                <li class="d-flex align-items-center pb-1 mb-2">
                  <i class="bx bx-check-circle text-primary fs-xl me-2"></i>
                  Mejor juez femenil en el campeonato XXXXX
              </ul>

              <a href="about-v2.html" class="btn btn-primary shadow-primary btn-lg">Más sobre mi</a>

            </div>
          </div>
          <div class="col-xl-6 col-md-7 offset-xl-1 pb-4 pb-sm-3 pb-lg-0 mb-4 mb-sm-5 mb-lg-0">
            <img src="assets/img/IMG-20241008-WA0007.jpg" class="rounded-3 shadow-sm" alt="Image">
          </div>
        </div>
      </section>