<!-- Section title -->
<h1 class="container pb-4 mt-n1 mt-lg-0">Trayectoria y Logros</h1>

<!-- Service -->
<section class="container mb-md-3 mb-lg-5 pb-5">
  <div class="row">
    <div class="col-md-6 pb-2 pb-md-0 mb-4 mb-md-0">
      <div class="pe-lg-5">
        <img
          src="assets/img/IMG-20241008-WA0004.jpg"
          class="rounded-3"
          alt="Image"
        />
      </div>
    </div>
    <div class="col-md-6">
      <h2 class="h3 mb-sm-4">Eventos destacados</h2>
      <p class="d-md-none d-xl-block pb-2 pb-md-3 mb-3">
        Araceli ha oficiado en algunos de los eventos más importantes del
        Taekwondo, destacándose por su profesionalismo y conocimiento de las
        reglas. Algunos de los eventos recientes incluyen:
      </p>
      <div class="border rounded-3 mb-4 mb-lg-5">
        <div class="row row-cols-1 row-cols-sm-2 g-0">
          <div
            class="col d-flex align-items-center border-end-sm border-bottom p-3"
          >
            <div class="step-number">
              <div class="step-number-inner">2024</div>
            </div>
            <div class="ps-2 ms-1">
              <h3 class="h6 mb-0">Juegos Olímpicos</h3>
              <p class="fs-xs mb-0">Paris, Francia</p>
            </div>
          </div>
          <div class="col d-flex align-items-center border-bottom p-3">
            <div class="step-number">
                <div class="step-number-inner">2024</div>
            </div>
            <div class="ps-2 ms-1">
              <h3 class="h6 mb-0">Campeonato Panamericano de Poomsae</h3>
              <p class="fs-xs mb-0">Ciudad, País</p>
            </div>
          </div>
          <div
            class="col d-flex align-items-center border-end-sm border-bottom p-3"
          >
          <div class="step-number">
            <div class="step-number-inner">2022</div>
          </div>
            <div class="ps-2 ms-1">
              <h3 class="h6 mb-0">Campeonato del Mundo de Taekwondo</h3>
              <p class="fs-xs mb-0">Guadalajara, México</p>
            </div>
          </div>
          <div class="col d-flex align-items-center border-bottom p-3">
            <div class="step-number">
              <div class="step-number-inner">2024</div>
            </div>
            <div class="ps-2 ms-1">
              <h3 class="h6 mb-0">Campeonato Panamericano de Poomsae</h3>
              <p class="fs-xs mb-0">Curabitur neque ut morbi sapien.</p>
            </div>
          </div>
          <div class="col d-flex align-items-center border-end-sm p-3">
            <div class="step-number">
                <div class="step-number-inner">2023</div>
              </div>
            <div class="ps-2 ms-1">
              <h3 class="h6 mb-0">Juegos Panamericanos</h3>
              <p class="fs-xs mb-0">Santiago, Chile</p>
            </div>
          </div>

          <hr class="d-sm-none" />
          <div class="col d-flex align-items-center p-3">
            <div class="step-number">
                <div class="step-number-inner">2023</div>
              </div>
            <div class="ps-2 ms-1">
              <h3 class="h6 mb-0">Grand-Prix WT</h3>
              <p class="fs-xs mb-0">Roma, Italia</p>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column flex-sm-row">
        <a href="#" class="btn btn-primary mb-3 mb-sm-0 me-sm-3"
          >Conocer más</a
        >
        
      </div>
    </div>
  </div>
</section>
